{% extends "project-layout.html" %}

{% block title %} Philippe Tasch | Codecats {% endblock %}

{% block content %}

	{% for projet in projetCodecats %}

		<section class="{{projet.projectClass}}">

			{% import "macros/nav-macro.html" as topNav %}
			{{topNav.active(currentPage="codecats", linkPrevious="vijump.html", linkNext="site-perso-v1.html")}}

			{% include "partials/project-tpl/project-base-tpl.html" %}

			{% import "macros/pagination.html" as bottomNav %}
			{{bottomNav.active(currentPage="codecats", linkPrevious="vijump.html", textPrevious="ViJump", linkNext="site-perso-v1.html", textNext="Portfolio")}}

		</section>

	{% endfor %}

{% endblock %}

