{% extends "index-layout.html" %}
{% block content %}
	{% for projet in projetCodecats %}
		<section class="{{projet.projectColorClass}}">
			<div class="maxWrapper slicePad--h">
					{% import "macros/nav-macro.html" as topNav %}
					{{topNav.active(currentPage="firstProject", linkNext="site-perso-v1.html")}}
				<div>
					{% for image in projet.imageMain %}
					<img src="{{image.originale}}" alt="{{projet.imageAlt}}" class="img--resp img--projet center"
							srcset="{{image.imagesSrcset}}"
							sizes="{{image.imageSizes}}" />
					{% endfor %}
				</div>
			</div>
			<section class="bigSlice bigSlice--project-info slicePad--v--top">

				<div class="maxWrapper maxWrapper--single-project gridClear slicePad--v--top slicePad--h">
					<div class="intro-title-wrapper">
						<span class="intro-title-info">Date : {{projet.infos.date}} // Duree : {{projet.infos.duree}}</span>
						<h2 class="h1 intro-title">{{projet.sousTitre}}</h2>
					</div>
					<div class="intro-info-wrapper">
						<div class="intro-info gridClear">
							<span class="rond poste"></span>
							<p class="project-info__title ">Poste</p>
							<p class="project-info__text">{{projet.infos.poste}}</p>
						</div>
						<div class="intro-info gridClear">
							<span class="rond langages"></span>
							<p class="project-info__title ">Langages</p>
							<p class="project-info__text">{{projet.infos.langages}}</p>
						</div>
						<div class="intro-info gridClear">
							<span class="rond  outils"></span>
							<p class="project-info__title">Outils</p>
							<p class="project-info__text">{{projet.infos.outils}}</p>
						</div>
					</div>
					<div class="intro-text-wrapper">
						<p class="intro-text">{{projet.texteIntro}}</p>
					</div>
				</div>
				<a href="{{projet.infos.lien}}" class="intro-lien-site ">
					<span class="lien__texte">
						 {{projet.infos.lien__texte}}
					</span>
				</a>
			</section>
			<section class="bigSlice">
					<p class="center project-max-text slicePad--h slicePad--v">{{projet.textePostLien}}</p>
				<div class="maxWrapper-project--full-image center gridClear">
					{% for image in projet.imagesTexte %}
						<div class="grids--zero project-full-image">
							<img src="{{image.originale}}" class="img--resp"
							srcset="{{image.imagesSrcset}}"
							sizes="{{image.sizes}}" />
						</div>
					{% endfor %}
				</div>
					<p class="center project-max-text slicePad--h slicePad--v">{{projet.textePostImages}}</p>
			</section>
		{% endfor %}
		{% import "macros/pagination.html" as bottomNav %}
		{{bottomNav.active(currentPage="firstProject", linkNext="site-perso-v1.html")}}
	</section>
{% endblock %}