{% extends "index-layout.html" %}

{% block title %} Philippe Tasch | PHPim {% endblock %}

{% block content %}

	{% for projet in projetPHPim %}

		<section class="{{projet.projectColorClass}}">

			{% import "macros/nav-macro.html" as topNav %}
			{{topNav.active(currentPage="firstProject", linkNext="vijump.html")}}

			{% include "partials/project-tpl/project-base-tpl.html" %}

			{% import "macros/pagination.html" as bottomNav %}
			{{bottomNav.active(currentPage="firstProject", linkNext="vijump.html", textNext="ViJump")}}

		</section>

	{% endfor %}

{% endblock %}