{% extends "index-layout.html" %}
{% block content %}
    <section id="projects" class="bigSlice bigSlice--projects--page wholePageSlice accomodateFooter gridClear count-projects">
        
            <a href="index.html" class="retour backHome">
                <i class="fa fa-arrow-left project-nav__icon"></i>
                <span class="retour__text">Accueil</span>
            </a>
        
            {% for projet in projets %}
                <div class={% if loop.first %}" c-left grids--zero g-3--zero tiles tiles--projects"{% else %}"grids--zero g-3--zero tiles tiles--projects"{% endif %}>
                    <a href="{{projet.lien}}" class="ratio--abs tiles__overlay">
                        <div class="tiles__title">
                            <h3 class="h3 h3--overlay">{{projet.nom}}</h3>
                            <p class="h4 h4--overlay">{{projet.objet}}</p>
                            <span class="tiles__btn">Voir plus</span>
                        </div>
                    </a>
                    <div class="ratio--rel ratio--rel__80 {{projet.image}} bg-img bg-project">
                    </div>
                </div>
            {% endfor %}

    </section>
    {% include "partials/footer.html" %}
{% endblock %}