{% extends "layout.html" %}
{% block content %}
    <section id="projects" class="bigSlice bigSlice--projects--page wholePageSlice accomodateFooter slicePad--v">
        <div class="maxWrapper gridClear count-projects">
            <a href="index.html" class="retour radius bounceHome"></a>
            <h1 class="h1 h1--bigSlice--project slicePad--h circleTitle">Projets</h1>
            {% for projet in projets %}
                <div class="grids--zero g-3--zero tiles tiles--projects">
                    <a href="{{projet.lien}}" class="ratio--abs tiles__overlay">
                        <div class="tiles__title">
                            <h3 class="h3 h3--overlay">{{projet.nom}}</h3>
                            <p class="h4 h4--overlay">{{projet.objet}}</p>
                            <span class="tiles__btn">Voir plus</span>
                        </div>
                    </a>
                    <div class="ratio--rel ratio--rel__80 {{projet.image}} bg-img bg-project">
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}