{% extends "index-layout.html" %}

{% block title %} Philippe Tasch | Projets {% endblock %}

{% block content %}

    <section id="projects" class="bigSlice bigSlice--project--page wholePageSlice accomodateFooter gridClear count-projects">

            <a href="index.html" class="retour backHome">
                <i class="fa fa-home project-nav__icon"></i>
                <span class="retour__text">Accueil</span>
            </a>

            {% for projet in projets %}
                <div class={% if loop.first %}" c-left project project--all"{% else %}" project project--all"{% endif %}>
                    <div class="ratio--rel ratio--rel__80 {{projet.image}} bg-img bg-project">
                        <div class="project__overlay">
                            <div class="project__infos">
                                <h3 class="h3 h3--overlay">{{projet.nom}}</h3>
                                <p class="h4 h4--overlay">{{projet.objet}}</p>
                                <a href="{{projet.lien}}" class="project__btn">Voir plus</a>
                                <a href="{{projet.lienExt}}" class="project__btn">Lien Site</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

    </section>

    {% include "partials/footer.html" %}

    <script>

        // ----------------------------------------------------------------------
        // =Disable Hover on Scroll
        // http://www.thecssninja.com/javascript/pointer-events-60fps
        // ----------------------------------------------------------------------

        var body = document.body,
        timer;

        window.addEventListener('scroll', function() {

            clearTimeout(timer);

            if(!body.classList.contains('disable-hover')) {

                body.classList.add('disable-hover');

            }

            timer = setTimeout(function(){

                body.classList.remove('disable-hover');

            }, 500);

        }, false);

    </script>

{% endblock %}