{% extends "layout.html" %}
{% block content %}
	<section class="bigSlice">
		<div class="project-nav gridClear">
			<a href="#" class="grids--zero project-nav__item slicePad--v slicePad--h backHome ">
				<i class="fa fa-code project-nav__icon"></i>
				<span class="project-nav__text">Home</span>
			</a>
			<a href="#" class="grids--zero project-nav__item slicePad--v slicePad--h backProjets">
				<i class="fa fa-code project-nav__icon"></i>
				<span class="project-nav__text">Projets</span>
			</a>
			<a href="#" class="grids--zero project-nav__item slicePad--v slicePad--h previousWork">
				<i class="fa fa-code project-nav__icon"></i>
				<span class="project-nav__text">Précédent</span>
			</a>
			<a href="#" class="grids--zero project-nav__item slicePad--v slicePad--h nextWork">
				<i class="fa fa-code project-nav__icon"></i>
				<span class="project-nav__text">Suivant</span>
			</a>
		</div>
	</section>
	<section class="bigSlice bigSlice--single-project slicePad--v">
		<h1 class="t-center slicePad--v--bottom slicePad--h">{{projet1.titre}}</h1>
		<div class="g-2 center slicePad--h">
			<img src="{{projet1.image}}" alt="{{projet1.imageAlt}}" class="img--resp"/>
		</div>
		<section class="bigSlice project-info-wrapper slicePad--h">
			<div class="maxWrapper slicePad--v t-center">
					<h2 class="intro-title">{{projet1.sousTitre}}</h2>
					<p class="intro-text center">{{projet1.texte}}</p>
			</div>

		</section>
		<div class="grids g-2 slicePad--v" >
			<div class="projet-infos gridClear">
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Poste</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.poste}}</span>
				</div>
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Langages</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.langages}}</span>
				</div>
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Outils</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.outils}}</span>
				</div>
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Date</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.date}}</span>
				</div>
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Durée</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.duree}}</span>
				</div>
				<div class="projet-infos__info">
					<span class="project-infos__fill project-infos__fill--left">Lien</span>
					<span class="project-infos__fill project-infos__fill--right">{{projet1.lien}}</span>
				</div>
			</div>
		</div>
		<section class="bigSlice">
			<div class="maxWrapper">
				<div class="text">
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
					<p>Lorem Ipsum skjfdh kswkhs illwt lwhluawjluauuhtlawj 9i585885</p>
				</div>
			</div>
		</section>
	</section>
	
{% endblock %}