{% extends "index-layout.html" %}

{% block title %} Philippe Tasch | Site Portfolio {% endblock %}

{% block content %}

	{% for projet in projetPerso %}

		<section class="{{projet.projectClass}}">

			{% import "macros/nav-macro.html" as topNav %}
			{{topNav.active(currentPage="portfolio", linkPrevious="codecats.html", linkNext="emmaus.html")}}

			{% include "partials/project-tpl/project-base-tpl.html" %}

			{% import "macros/pagination.html" as bottomNav %}
			{{bottomNav.active(currentPage="portfolio", linkPrevious="codecats.html", textPrevious="Codecats", linkNext="emmaus.html", textNext="Emmaus Strasbourg")}}

		</section>

	{% endfor %}

{% endblock %}