{% extends "index-layout.html" %}

{% block title %} Philippe Tasch | Site Portfolio {% endblock %}

{% block content %}

	{% for projet in projetPerso %}

		<section class="{{projet.projectColorClass}}">

			{% import "macros/nav-macro.html" as topNav %}
			{{topNav.active(currentPage="emmaus", linkPrevious="emmaus.html", linkNext="vijump.html")}}

			{% include "partials/project-tpl/project-base-tpl.html" %}

			{% import "macros/pagination.html" as bottomNav %}
			{{bottomNav.active(currentPage="emmaus", linkPrevious="emmaus.html", linkNext="vijump.html")}}

		</section>

	{% endfor %}

{% endblock %}