{% extends "index-layout.html" %}

{% block title %} Philippe Tasch | Vijump {% endblock %}

{% block content %}

	{% for projet in projetVijump %}

		<section class="{{projet.projectColorClass}}">

			{% import "macros/nav-macro.html" as topNav %}
			{{topNav.active(currentPage="vijump", linkPrevious="phpim.html", linkNext="codecats.html")}}

			{% include "partials/project-tpl/project-base-tpl.html" %}

			{% import "macros/pagination.html" as bottomNav %}
			{{bottomNav.active(currentPage="vijump", linkPrevious="phpim.html", textPrevious="PHPim", linkNext="codecats.html", textNext="Codecats")}}

		</section>

	{% endfor %}

{% endblock %}
