@import 'nav-variables';

.maxWrapper--header{

	position: relative;
	@include snap(large){

		position: static;
	}
}

@import 'nav-toggle';
/* uncss:ignore */

.navigation{

	@include lay-out(1);
	clear:both;

	.js &{

		clip: rect(0 0 0 0);
		position: absolute;
		top:0px;
		max-height: 0;
	    overflow: hidden;
		@include rem2px(padding, 0, 1, 0, 1);

	}

	@include snap(large){

		float: right;
		@include twoThirds;
		clear: none;

		.js &{
			position: static;
			overflow: visible;
			max-height: 999px;
			padding: 0;
		}
	}

}

/* uncss:ignore */

.navigation.closed{
	@include snap(large){
    max-height: 999px;
    overflow: visible;
  }
}
/* uncss:ignore */

  .navigation.closed .navigation__subnav {
  	@include snap(large){

    max-height: 0px;
  }
}
/* uncss:ignore */

.navigation.opened,
.navigation__item.dropdown.opened .navigation__subnav {
  max-height: 999px;
  transition: max-height 1s ease;

}
/* uncss:ignore */

 .navigation__item.dropdown.opened .navigation__subnav {
  position: relative;
}

/* toggle test */

.dropdown-toggle{

	position: relative;
	width: 55px;
	height: 45px;
	border: none;
	border-left: 2px solid #fff;
	background-color: $nav__link--3--bgc;
	color: #fff;
	position: absolute;
	top: 3px;
	right: 0.5rem;

	@include snap(large){

		visibility: hidden;
	}
}

 .navigation__item.dropdown{

 		.dropdown-toggle:after{

	 		position: absolute;
	 		z-index: 2;
			top: 50%;
			left: 50%;
			margin-top: -3px;
			margin-left: -6px;
 			@extend .triangle--down;

 		}

 		&.opened{

		.dropdown-toggle:after{

 			 @extend .triangle--up;

 		}

 		}

 }


.navigation__item{

	position: relative;
	@include lay-out(1);

	@include snap(large){

		@include lonm(4);
		float: left;
		transition: all .25s ease-in-out;

		@include h-f-a(){

			transform: translateY(5px);

			.navigation__subnav{

				/* show menu when no keyframes support */
				opacity: 1;
				visibility: visible;
				/* ----- */
				animation: subNavAppear .25s ease forwards;

			}

		}

	}

}

@keyframes subNavAppear{

	0%{

		visibility: hidden;
		opacity: 0;

		transform: translateY(50%);
	}

	10%{

		opacity: 0;
	}

	100%{

		visibility: visible;
		opacity: 1;

		transform: translateY(0%);

	}
}

.navigation__subnav{

	@include lay-out(1);
	overflow: hidden;
	display: block;
	clip: auto;
    position: relative;
	transition: all .35s ease-in-out;
	transform-style: preserve-3d;

	.js &{

		clip: rect(0 0 0 0);
   		position: absolute;
		max-height: 0;

	}

	@include snap(large){

		top:100%;
		left:0%;
		clip:auto;
		visibility: hidden;
   		position: absolute;
		max-height: 999px;

		.js &{

			clip:auto;
			max-height: 999px;
		}

	}

}

.navigation__subnav__item{

	@include lay-out(1);

	@include snap(large){
		@include rem2px(margin-top, .5)

	}
}

.navigation__link{

	@include lay-out(1);
	display: block;
	text-decoration: none;
	@include rem2px(padding, 1.2);
	color: $link--color;
	position: relative;
	transition: all .35s linear;
	text-transform: uppercase;
	font-weight: 900;
	border-right: 4px solid rgba(#000, 0.1);
	border-bottom: 4px solid rgba(#000, 0.1);

	@include snap(large){

		@include rem2px(padding, 4, 1.2, 1, 0);
		text-align: right;
		@include rem2px(font-size, 1.4);
		border-right: 6px solid rgba(#000, 0.1);
		border-bottom: 6px solid rgba(#000, 0.1);

	}

	@include snap(veryLarge){

		@include rem2px(font-size, 1.7);
		@include rem2px(padding, 4, 1.2, 1, 0);
		border-right: 7px solid rgba(#000, 0.1);
		border-bottom: 7px solid rgba(#000, 0.1);

	}

	&:before{

		display: inline-block;
		vertical-align: middle;
		@include rem2px(width, 3.2);
		font-family: FontAwesome;

		@include snap(large){

					display: none;

		}
	}

}

// Navigation items styles //

.link--1{

	background-color: $nav__link--1--bgc;

	&:before{

		content:"\f19d";
	}

	@include h-f-a{

		background-color: lighten($nav__link--1--bgc,7%);
	}
}

.link--2{

	&:before{

		content:"\f085";
	}

	background-color: $nav__link--2--bgc;

	@include h-f-a{

		background-color: lighten($nav__link--2--bgc,7%);
	}
}

.link--3,.link--3--1,.link--3--2{

	background-color: $nav__link--3--bgc;

	@include h-f-a{

		background-color: lighten($nav__link--3--bgc,7%);
		cursor: pointer;
	}

}

.link--3{



		&:before{

			content:"\f0c3";

		}

		&--1{

			@include rem2px(padding-left, 3.2);

			&:before{

				content:"\f07b";
			}
		}

		&--2{

			@include rem2px(padding-left, 3.2);

			&:before{

				content:"\f07c";
			}
		}

}

.link--4{

	&:before{

		content:"\f0e0";
	}

	background-color: $nav__link--4--bgc;

	@include h-f-a{

		background-color: lighten($nav__link--4--bgc,7%);
	}
}


