$hamburger-width: 40px;
$hamburger-height: $hamburger-width;

//------ Navigation items colors ----------//

$nav__link--1--bgc: #BD3B36;
$nav__link--2--bgc: #FFC56E;
$nav__link--3--bgc: #37B06D;
$nav__link--4--bgc: #2D6DA6;

$link--color: #fff;
//----------------------------------------//