#trigger{

	border: none;
	border-radius: 0;

	background-color: #222F3D;
	position: relative;
	z-index: 10000;

	float: right;
	@include rem2px(padding,0.9,3.9,0.9,0)
	@include rem2px(margin, 1, 1, 1, 0);

	box-shadow: -5px 5px rgba(#222F3D, 0.5);

	&:hover,
	&:active{

		cursor:pointer;
		outline: none;

	}

	@include snap(large){

		display: none;
	}
}

.trigger__label{

	top: 0px;
	height: 100%;
	@include rem2px(padding,0,1rem);
	color: #FFF;
	@include rem2px(font-size, 1.8);
	font-family: Roboto Slab;
	font-weight: 900;
	letter-spacing: 1px;
	background-color: #222F3D;

}

.trigger.active{

	z-index: 5000;

	.trigger__bar{

		transform:rotate(360deg);

	}

		.trigger__bar--1{

			top:0;
			transform:rotate(315deg);
			background-color: #fff;
		}

		.trigger__bar--2,
		.trigger__bar--4{

			background-color: #000;
			visibility: hidden;

		}

		.trigger__bar--3{

			bottom:0;
			transform:rotate(405deg);
			background-color: #fff;
		}

}

.trigger__bar{

	width: 32px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top:0;
	@include rem2px(right, 0.7);
	bottom: 0;
	margin: auto;
	transition: transform .30s linear;

}


	.trigger__bar--1{

		top: -24px;
		background-color: $nav__link--1--bgc;
	}

	.trigger__bar--2{

		z-index: 10;
		top:-8px;
		background-color: $nav__link--2--bgc;

	}

	.trigger__bar--3{

		bottom:-9px;
		background-color: $nav__link--3--bgc;
	}

	.trigger__bar--4{

		bottom:-24px;
		background-color: $nav__link--4--bgc;
	}
