<header class="bigSlice bigSlice--header headroom--home">
    <nav class="maxWrapper maxWrapper--header gridClear">
        <button id="trigger" class="trigger">
            <span class="trigger__label">Menu</span>
            <span class="trigger__bar trigger__bar--1 "></span>
            <span class="trigger__bar trigger__bar--2 "></span>
            <span class="trigger__bar trigger__bar--3 "></span>
            <span class="trigger__bar trigger__bar--4 "></span>
        </button>
        <ul class="navigation gridClear">
            <li class="navigation__item ">
                <a class="navigation__link link--1" data-scroll href="#about">Parcours</a>
            </li>
            <li class="navigation__item">
                <a data-scroll href="#skills" class="navigation__link link--2">Competences</a>
            </li>
            <li class="navigation__item dropdown" aria-haspopup="true">
                <a data-scroll href="#projects" class="navigation__link link--3">Projets Recents</a>
                <button class="dropdown-toggle"></button>
                <ul class="navigation__subnav">
                    <li class="navigation__subnav__item">
                        <a href="projets.html" class="navigation__link link--3--2">Tous</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__item ">
                <a data-scroll href="#contact" class="navigation__link link--4">Contact</a>
            </li>
        </ul>
    </nav>
</header>