<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html  class="no-js" lang="fr"> <!--<![endif]-->

    <head>
        <!-- prevent responsive nav flashing -->
        <script>
           document.documentElement.className += " js";
        </script>
        <!-- -->

        <meta charset="utf-8">
        <title>{% block title %}  {% endblock %}</title>
        <meta name="description" content="Site personnel de Philippe Tasch, Webdesigner - Intégrateur.">
        <meta name="keywords" content="HTML5, CSS3, Responsive Web Design, UX, UI, Webdesigner, Intégrateur, CV, Compétences, Accessibilité">
        <meta name="author" content="Philippe Tasch">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,900' rel='stylesheet' type='text/css'>
        <!--build:css-->
        <link rel="stylesheet" href="css/styles.css">
        <!--endbuild-->

        <!--[if lt IE 9]>
            <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->

    </head>

    <body>

        <noscript class="no-script-msg">
            <div class="no-script-msg-text">
                Javascript est désactivé dans votre navigateur! Rassurez-vous, le site est pensé pour. Bonne visite!
            </div>
        </noscript>

        <!--build:vanish-->

        <script>

            var dimensBlock = document.createElement("div");
            dimensBlock.className = "screenSize";
            dimensBlock.id = "screenSize";
            var corps = document.querySelector("body");
            corps.appendChild(dimensBlock);

            var screenHeight = window.innerHeight;
            var screenWidth = window.innerWidth;
            dimensBlock.textContent = screenWidth + " x " + screenHeight;

            window.addEventListener("resize", function(){

                var screenHeight = window.innerHeight;
                var screenWidth = window.innerWidth;
                dimensBlock.textContent = screenWidth + " x " + screenHeight;

            });

        </script>

        <!--endbuild-->

          {% block wrap %}

          {% endblock %}

          <!--build:vanish-->

        <script src="/scripts/modernizr.js"></script>

        <script src="/scripts/waypoints/noframework.waypoints.js"></script>

        <!--endbuild-->

        <script>

            var introTitle = document.getElementById('card__title-wrapper');

            var blob = new Waypoint({
                element: introTitle,
                handler: function() {
                  console.log('title fell into place');
                this.element.classList.add('waypoint-shown');
                this.destroy()
                },

              offset: "40%",

              })

        </script>

    </body>

</html>