.project-nav{

	text-align: center;
}

.project-nav__item{

	color: $bigSlice--contact;
	@include rem2px(line-height, 7);
	text-decoration: none;

	&--not-all{

		width: 33.333%;
	}

	&--all{

		width: 25%;
	}

	@include snap(small-medium){

		@include f-a{

			background-color: none;
		}
	}

	@include snap(large){

		@include rem2px(line-height, 11);

	}

}


.backHome:hover .project-nav__icon,
.backProjects:hover .project-nav__icon{

	@include snap(large){

			animation : shake .85s linear forwards;
	}
}

@keyframes shake{

	0%{

		transform: translateY(0px) scale(1) rotate(0deg);
	}

	20%{

		transform: translateY(-5px) scale(1.1) rotate(15deg);
	}

	40%{

		transform: translateY(-5px) scale(1) rotate(-15deg);
	}

	60%{

		transform: translateY(-5px) scale(1) rotate(15deg);
	}

	80%{

		transform: translateY(-5px) scale(1.1) rotate(-15deg);
	}

	100%{

		transform: translateY(0px) scale(1) rotate(0deg);

	}
}

.previousWork:hover .project-nav__icon,
.nextWork:hover .project-nav__icon{

	@include snap(large){

			animation : point .85s linear forwards;
	}
}

@keyframes point{

	0%{

		transform: translateX(0px);
	}

	25%{

		transform: translateX(-7px);
	}

	50%{

		transform: translateX(7px);
	}

	75%{

		transform: translateX(-7px);
	}

	100%{

		transform: translateX(0px);

	}
}

.project-nav__text{

	display: none;

	@include snap(small-medium){

		display: inline-block;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: Roboto Slab;
		font-weight: 900;
		letter-spacing: 1px;

	}

	@include snap(medium){

		font-size: 105%;
		transition: color .25s linear;

	}
}

.backHome{

	.project-nav__icon{

		color: $nav__link--1--bgc;

	}
	@include snap(large){

		&:hover .project-nav__text{

			color: $nav__link--1--bgc;

		}
	}

}

.backProjects{

	.project-nav__icon{

		color: $nav__link--3--bgc;

	}
	@include snap(large){

		&:hover .project-nav__text{

			color: $nav__link--3--bgc;
		}
	}

}

.previousWork{

	.project-nav__icon{

		color: $nav__link--2--bgc;
	}

	@include snap(large){

		&:hover .project-nav__text{

			color: $nav__link--2--bgc;
		}
	}

}

.nextWork{

	.project-nav__icon{

		color: $nav__link--4--bgc;

	}

	@include snap(large){

		&:hover .project-nav__text{

			color: $nav__link--4--bgc;
		}
	}

}

.nextWork,
.pagination-link--next{

	@include snap(small-medium){

			& .project-nav__text{

				margin: 0 10px 0 0;
			}

			& .project-nav__icon{

				margin: 0 0 0 10px;
			}
	}
}

.fa.project-nav__icon{

	font-size: 200%;

	@include snap(small-medium){
		margin-right: 10px;
	}

}

.project-nav__text,
.fa.project-nav__icon{

	vertical-align: middle;
}