
.project-max-text{

	max-width: 500px;

	&::first-letter{

			float: left;
			padding: 10px 15px;

			background-color: #3D566F;
			color: $bigSlice--about;

			font-size: 22px;
			margin: 5px 10px -10px 0;
			font-family: Roboto Slab;
			font-weight: bold;

	@include snap(medium){

			font-size: 30px;
			margin: 5px 15px 0px 0;

	}

	}

	@include snap(medium){

		max-width: 600px;
	}
}

.maxWrapper-project--full-image{

	@include snap(large){

		@include rem2px(margin, 3, 0);
	}

	@media screen and (min-width: 2100px){

		max-width: $maxWrapperWidth;
	}
}

.project-full-image{

	width: 100%;
	@include rem2px(margin-bottom, 0.5);
	@include snap(small-medium){

		@include lonm(3);
	}

	@include snap(medium){

	@include rem2px(margin-bottom, 0);

		&:nth-of-type(even) img{

			border: 6px solid $bigSlice--about;
			transform: scale(1.1);
		}

	}
}