.pagination{

	@include snap(large){

		@include  rem2px(margin-top, 2);
	}
}

.pagination__wrapper{

	@include rem2px(padding, 0, 0.5, 1, 1)
}

.pagination__wrapper + .pagination__wrapper{

	@include rem2px(padding, 0, 1, 1, 0.5)

}

.pagination .pagination__wrapper--only-child{

	@include rem2px(padding, 1)
}

.pagination__link{

	display: block;
	color: #fff;
	overflow: hidden;

	position: relative;
	z-index: 10;

	&:before{

			content:"";
			position: absolute;
			z-index: -10;
			top: 0;
			height: 100%;
			background-color: $bigSlice--contact;
			transition: transform .45s linear;
			transform: translateX(0px) skew(-15deg) scaleX(0);
		}

	&--previous:before{

			left: 25%;
			width: 50%;
	}

	&--next:before{

			right: 25%;
			width: 50%;
	}

}

.pagination__link{

	&--previous:hover:before{

		transform: translateX(5%) skew(-15deg) scaleX(2.2);

	}

	&--next:hover:before{

		transform: translateX(-5%) skew(-15deg) scaleX(2.2);
	}
}

.pagination__link--previous:hover .project-nav__icon,
.pagination__link--next:hover .project-nav__icon{

	@include snap(large){

			animation : point .85s linear forwards;
	}
}

@keyframes point{

	0%{

		transform: translateX(0px);
	}

	25%{

		transform: translateX(-7px);
	}

	50%{

		transform: translateX(7px);
	}

	75%{

		transform: translateX(-7px);
	}

	100%{

		transform: translateX(0px);

	}
}


/* see project-template-navigation

	nextWork styles

*/