.bigSlice--project-info{

		background-color: $bigSlice--skills;
		color: #fff;
		border-top: 7px solid darken($bigSlice--skills, 15%);
}

.intro-title-wrapper{

	text-align: center;
	font-weight: 500;
	@include rem2px(margin-bottom, 3);

	@include snap(tweak-large){

		text-align: right;
		float: left;
		@include lay-out(3);

	}

}

	.intro-title-info{

		display: inline-block;
		background-color: darken($bigSlice--skills, 15%);
		color: $nav__link--2--bgc;

		@include rem2px(padding, 1, 2);
		@include rem2px(margin-bottom, 3);

		@include snap(tweak-large){

			display: block;

			@include rem2px(padding, 0, 1.5);
			@include rem2px(margin-bottom, 0);

		}
	}

	.intro-title{

		margin: 0;
	}


.intro-info-wrapper{

	@include rem2px(padding, 2, 0, 2, 0);
	@include rem2px(margin, 0, 0, 3, 0);
	overflow: hidden;
	position: relative;

	&:before,&:after{

		content:"";
		width: 80px;
		height: 4px;
		background-color: darken($bigSlice--skills, 15%);
		position: absolute;
		left: 50%;
		margin-left: -40px;
	}

	&:before{

		top:0px;
	}


	&:after{

	bottom:0px;
	}

	@include snap(tweak-large){

		width: 26%;
		float: right;
		margin: 0;
		margin-left: $gridMargin;
		padding: 0;

		&:before,&:after{

			display: none;
			margin: 0;
		}

	}

}

	.intro-info{

		font-family: Roboto Slab;
		padding-bottom: 10px;
		text-align: center;
		@include rem2px(margin-top, 2);

		@media screen and (min-width: 450px){

			@include lonm(3);
			float: left;
		}

		@include snap(tweak-large){

			text-align: left;
			width: 100%;
			margin: 0;
		}

	}

	.rond{

		width: 60px;
		height: 60px;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		background-color: $nav__link--2--bgc;
		@include rem2px(margin-bottom, 1);

		@include snap(tweak-large){

			float: left;
			margin-right: 15px;
		}

		&:before{

			@include rem2px(font-size, 3.5);
			font-family: FontAwesome;
			color: darken($bigSlice--skills, 15%);

		}

	}

	.project-info__title,
	.project-info__text{

		display: block;
		margin: 0;
	}

	.project-info__text{

		color: lightgray;
	}

	.poste:before{

		content:"\f007";
	}

	.langages:before{

		content:"\f121";
	}

	.outils:before{

		content:"\f085";
	}


.intro-text-wrapper{

	margin: auto;
	max-width: 500px;
	text-align: left;

	@media screen and (min-width: 450px){

		text-align: center;
	}

	@include snap(tweak-large){

		max-width: none;
		float: left;
		width: 38%;
		@include rem2px(margin-bottom, 0);
		margin-left: $gridMargin;
		text-align: left;
	}

}

	.intro-text{

		margin: 0;
	}

.intro-lien-site{

	display: block;
	clear: both;
	background-color: darken($bigSlice--skills, 15%);
	color: $nav__link--2--bgc;
	@include rem2px(margin-top, 3);
	@include rem2px(padding, 3);
	text-align: center;
	font-family: Roboto Slab;

	text-decoration: none;

	transition: background-color 0.35s linear;

	@include snap(small-medium){

		font-size: 120%;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	@include snap(tweak-large){

		@include rem2px(margin-top, 6);

	@include h-f-a{

		background-color:  $nav__link--2--bgc;
		color: darken($bigSlice--skills, 15%);

		.lien__texte:after{

			background-color: darken($bigSlice--skills, 15%);
		}
	}

	}

	&:after{

		content:"\f08e";
		display: inline-block;
		vertical-align: middle;
		font-family: FontAwesome;
		font-size: 130%;
		margin-left: 10px;

		@include snap(large){

			font-size: 150%;
		}
	}

}

.lien__texte{

		position: relative;

		&:after{

		content:"";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $nav__link--2--bgc;
	}
}