.bigSlice--project-card{

		border-top: 7px solid;

		@include snap(veryLarge){

			overflow: hidden;
		}
}

.card__title-wrapper{

	text-align: center;
	font-weight: 500;
	@include rem2px(margin-bottom, 3);

	@include snap(veryLarge){

		text-align: right;
		float: left;
		margin-right: $gridMargin;
		@include lay-out(3);

	}

}

	.card__title-info{

		display: inline-block;

		@include rem2px(padding, 1, 0);
		@include rem2px(margin-bottom, 3);

		&:before,
		& :before{

			font-family: FontAwesome;
			color: #fff;
		    @include rem2px(margin,0 , 0.5, 0, 1.5);

		}

		&:before{

			content:"\f073";
		}

		@include snap(veryLarge){

			display: block;
			@include rem2px(padding, 0.5, 0);
			@include rem2px(margin-bottom, 0);

		}
	}

	.card__duration{

		&:before{

			content:"\f017";

		}

		@include rem2px(margin, 0, 1.5, 0, 0);

	}
/*
	.fadeFromLeft{

		@include snap(veryLarge){

			animation: fadeFromLeft 0.7s linear;

		}

	}

	@keyframes fadeFromLeft{

		0%{

			transform: translateX(-20%);
			opacity: 0;
			visibility: hidden;
		}

		100%{

			transform: translateX(0%);
			opacity: 1;
			visibility: visible;
		}
	}
*/
	.card__title{

		margin: 0;
		max-width: 750px;
		margin: auto;
		line-height: 1.4;

		@include snap(small){
			@include rem2px(padding, 0, 1.5);
		}
		@include snap(veryLarge){

			animation: fadeFromBottom 0.7s linear;
			@include rem2px(padding, 0);

		}
	}
/*
	@keyframes fadeFromBottom{

		0%{

			transform: translateY(20%);
			opacity: 0;
			visibility: hidden;
		}

		100%{

			transform: translateY(0%);
			opacity: 1;
			visibility: visible;
		}
	}
*/
.card__details{

	@include rem2px(padding, 2, 0, 2, 0);
	@include rem2px(margin-bottom, 3);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	max-width: 750px;

	&:before,
	&:after{

		content:"";
		width: 80px;
		height: 4px;
		position: absolute;
		left: 50%;
		margin-left: -40px;
	}

	&:before{

		top:0px;
	}

	&:after{

		bottom:0px;
	}

	@include snap(veryLarge){

		width: 26%;
		float: right;
		margin: 0;
		margin-left: $gridMargin;
		padding: 0;
		overflow: visible;

		&:before,&:after{

			display: none;
			margin: 0;
		}

		animation: fadeFromRight 0.7s linear;

	}

}
/*
@keyframes fadeFromRight{

		0%{

			transform: translateX(20%);
			opacity: 0;
			visibility: hidden;
		}

		100%{

			transform: translateX(0%);
			opacity: 1;
			visibility: visible;
		}
	}

*/
	.card__detail{

		text-align: center;
		@include rem2px(margin-top, 2);
		@include rem2px(padding, 0, 1, 1, 1);

		@media screen and (min-width: 450px){

			@include lonm(3);
			float: left;
		}

		@include snap(veryLarge){

			text-align: left;
			width: 100%;
			margin: 0;
			float: none;
			position: relative;

			@include rem2px(margin-bottom, 1.5);
			@include rem2px(padding, 0, 0, 1.5, 0);

			&:before{

				content:"";
				position: absolute;
				left: 75px;
				bottom: 0;
				width: 26%;
				height: 3px;

			}

			&:last-child{

				margin: 0;

				&:before{

					content:none;
				}
			}
		}
	}

	.detail__icon{

		width: 60px;
		height: 60px;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		position: relative;

		@include rem2px(margin-bottom, 1);

		@include snap(veryLarge){

			float: left;
			margin-right: 15px;
		}

		&:before{

			@include rem2px(font-size, 3.5);
			font-family: FontAwesome;
			position: relative;
			z-index: 5;
		}

		&:hover:after{

			animation:  bounce 1s linear;
		}

	}

	.detail__title,
	.detail__text{

		display: block;
		margin: 0;
	}

	.detail__title{

		font-family: Roboto Slab;
		text-transform: uppercase;
		font-size: 90%;
		margin: 0.5rem 0 0.5rem 0;

		@include snap(veryLarge){

			margin: 0;
		}
	}

	.detail__text{

		color: lightgray;
		overflow: hidden; /* prevent text from wrapping */
	}

	.poste:before{

		content:"\f007";
	}

	.langages:before{

		content:"\f121";
	}

	.outils:before{

		content:"\f085";
	}

.card__description{

	margin: auto;
	max-width: 500px;
	text-align: left;

	@media screen and (min-width: 450px){

		text-align: center;
	}

	@include snap(veryLarge){

		max-width: none;
		overflow: hidden;
		@include rem2px(margin-bottom, 0);
		text-align: left;
	}

	p{

		margin: 0;
	}

}

/*
	@keyframes reveal{

		0%{

			opacity: 0;
			transform: scale(0.8);
		}

		100%{

			opacity: 1;
			transform: scale(1);

		}
	}

*/
.card__link{

	display: block;
	clear: both;
	@include rem2px(margin-top, 3);
	@include rem2px(padding, 3);
	text-align: center;
	font-family: Roboto Slab;

	text-decoration: none;

	transition: background-color 0.35s linear,
				color 0.35s linear;

	@include snap(small-medium){

		font-size: 120%;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	@include snap(veryLarge){

		@include rem2px(margin-top, 6);

	}

	&:after{

		content:"\f08e";
		display: inline-block;
		vertical-align: middle;
		font-family: FontAwesome;
		font-size: 130%;
		margin-left: 10px;

		@include snap(large){

			font-size: 150%;
		}
	}

}

.card__link span{

	position: relative;

	&:after{

		content:"";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		border: 1px solid;
		border-color: inherit;
		transition: border-color 0.35s linear;
	}
}