/*
*
*  Overwrite template BG styles and whatnot
*
*/

/* Background-color */

$standard-bg: $bigSlice--about;
$standard-info-bg: #587CA0;
$standard-info-border: #3D566F;
$standard-info-infos: $nav__link--2--bgc;

$codecats-bg: #fff;
$codecats-info-bg: lighten(#222, 2%);
$codecats-info-border: darken(#222, 5%);
$codecats-info-infos: #35AEF2;

$vijump-bg: $codecats-bg;
$vijump-info-bg: lighten(#DF4A4A, 4%);
$vijump-info-border: darken(#DF4A4A, 4%);
$vijump-info-infos: #DF4A4A;

.project-emmaus{

	background-color: $bigSlice--about;

}

.project-emmaus .bigSlice--project-info{

	background-color: $standard-info-bg;
	border-color: $standard-info-border;
}

.project-emmaus .intro-title-info
.project-emmaus .intro-lien-site .lien__texte{

	background-color: $standard-info-border;
}

.project-emmaus .pagination{

	background-color: $standard-info-border;
}



.project-codecats,
.project-vijump{

	background-color: $codecats-bg;

	& .project-full-image{

	@include snap(medium){

		&:nth-of-type(even) img{

			border: 6px solid $codecats-bg;
			transform: scale(1.1);
		}

	}
}
}

/* Navigation */

/* Project Info */

/* Codecats */

.project-codecats .bigSlice--project-info{

	background-color: $codecats-info-bg;
	border-color: $codecats-info-border;
}

.project-codecats .intro-info-wrapper{

	&:after,
	&:before{

		background-color: $codecats-info-border;
	}
}

.project-codecats .intro-title-info,
.project-codecats .intro-lien-site{

	background-color: $codecats-info-border;
	color: $codecats-info-infos;
}

.project-codecats .intro-lien-site{

@include snap(large){
	@include h-f-a{

		background-color: $codecats-info-infos;
		color: $codecats-info-border;

		.lien__texte:after{

			background-color: $codecats-info-border;
		}
	}
}
}

.project-codecats .lien__texte{

	&:after{

		background-color: $codecats-info-infos;
	}
}

.project-codecats .rond{

	background-color: $codecats-info-infos;

	&:before{

			color: $codecats-info-border;

	}
}

.project-codecats .intro-info{

	&:first-child .rond{

		background-color: #F27935;
	}

	&:last-child .rond{

		background-color: #00B16A;
	}


	&:before{

			color: $codecats-info-border;

	}
}

.project-codecats .project-max-text::first-letter{

	background-color: $codecats-info-border;
	color: $codecats-bg;
}

.project-codecats .pagination-link{

		background-color: $codecats-info-bg;

	&:before{

		background-color: $codecats-info-border;
	}
}


/* ViJump */

.project-vijump .bigSlice--project-info{

	background-color: $vijump-info-bg;
	border-color: $vijump-info-border;
}

.project-vijump .intro-info-wrapper{

	&:after,
	&:before{

		background-color: $vijump-info-border;
		color: $vijump-bg;
	}
}

.project-vijump .intro-title-info,
.project-vijump .intro-lien-site{

	background-color: $vijump-info-border;
	color: $vijump-bg;
}

.project-vijump .intro-lien-site{

	color: $vijump-bg;

	@include snap(large){

		@include h-f-a{

			background-color: $vijump-info-infos;
			color: $vijump-bg;

			.lien__texte:after{

				background-color: $vijump-bg;
			}
		}
	}

}

.project-vijump .lien__texte{

	&:after{

		background-color: $vijump-bg;

	}
}

.project-vijump .rond{

	background-color: $vijump-info-infos;

	&:before{

			color: $vijump-bg;

	}
}

.project-vijump .project-max-text::first-letter{

	background-color: $vijump-info-border;
	color: $vijump-bg;
}

.project-vijump .pagination-link{

		background-color: $vijump-info-bg;

	&:before{

		background-color: $vijump-info-border;
	}
}