.pagination{

	@include snap(large){

		@include  rem2px(margin-top, 2);
	}
}

.pagination__wrapper{

	@include rem2px(padding, 0, 0.5, 1, 1);
	@include lonm(2);
	float: left;
}

.pagination__wrapper + .pagination__wrapper{

	@include rem2px(padding, 0, 1, 1, 0.5)

}

.pagination .pagination__wrapper--only-child{

	@include rem2px(padding, 1);
	@include lonm(1);
}

.pagination__link{

	display: block;
	color: #fff;
	overflow: hidden;

	position: relative;
	z-index: 10;
	text-align: center;

	&:before{

		content:"";
		position: absolute;
		z-index: -10;
		top: 0;
		height: 100%;
		background-color: $bigSlice--contact;
		transition: transform .45s linear;
		transform: translateX(0px) skew(-15deg) scaleX(0);
	}

	&--previous:before{

			left: 25%;
			width: 50%;
	}

	&--next:before{

			right: 25%;
			width: 50%;
	}

}

.pagination__link{

	&--previous:hover:before{

		transform: translateX(5%) skew(-15deg) scaleX(2.2);

	}

	&--next:hover:before{

		transform: translateX(-5%) skew(-15deg) scaleX(2.2);
	}
}


.pagination__text{

	display: block;
	text-transform: uppercase;
	font-family: Roboto Slab;
	font-weight: 900;
	letter-spacing: 1px;

	@include snap(medium){

		font-size: 105%;
		transition: color 0.25s linear;

	}
}

.pagination__text span{

	display: none;
	@include snap(small){
		display: block;
	}
}

.pagination__text small{
	display: block;
	text-transform: lowercase;
}
/* see project-template-navigation

	nextWork styles

*/