{% macro active(currentPage, linkPrevious, linkNext) %}
<div class="maxWrapper slicePad--h">
	<nav class="project-nav gridClear slicePad--v">
		<a href="index.html" class="
		{% if currentPage == 'firstProject' %} project-nav__item--not-all project-nav__item backHome
		{% elif currentPage == 'lastProject' %} project-nav__item--not-all project-nav__item backHome
		{% else %} project-nav__item project-nav__item--all backHome
		{% endif %}
		">
			<i class="fa fa-home project-nav__icon"></i>
			<span class="project-nav__text">Accueil</span>
		</a>
		<a href="projets.html" class="
		{% if currentPage == 'firstProject' %} project-nav__item--not-all project-nav__item backProjects
		{% elif currentPage == 'lastProject' %} project-nav__item--not-all project-nav__item backProjects
		{% else %} project-nav__item project-nav__item--all backProjects
		{% endif %}
		">
			<i class="fa fa-flask project-nav__icon"></i>
			<span class="project-nav__text">Projets</span>
		</a>
		{% if currentPage == 'firstProject' %}

		{% else %}
			<a href="{{ linkPrevious }}" class="
			{% if currentPage == 'lastProject' %} project-nav__item--not-all project-nav__item previousWork
			{% else %} project-nav__item project-nav__item--all previousWork
			{% endif %}
			">
				<i class="fa fa-arrow-left project-nav__icon"></i>
				<span class="project-nav__text">Précédent</span>
			</a>
		{% endif %}

		{% if currentPage == 'lastProject' %}

		{% else %}
			<a href="{{ linkNext }}" class="
			{% if currentPage == 'firstProject' %} project-nav__item--not-all project-nav__item nextWork
			{% else %} project-nav__item project-nav__item--all nextWork
			{% endif %}
			">
				<span class="project-nav__text">Suivant</span>
				<i class="fa fa-arrow-right project-nav__icon"></i>
			</a>
		{% endif %}
	</nav>
</div>
{% endmacro %}
