{% macro active(currentPage, linkPrevious, linkNext) %}
<section class="bigSlice gridClear t-center">
	<div class="
	{% if currentPage == 'firstProject' %} hidden {% elif currentPage == 'lastProject' %} g-1 t-center {% else %} grids--zero g-2--zero{% endif %}
	">
	<a href="{{ linkPrevious }}" class="pagination-link pagination-link--previous slicePad--v">
		<i class="fa fa-arrow-left project-nav__icon"></i>
		<span class="project-nav__text">Précédent</span>
	</a>
	</div>
	<div class="
	{% if currentPage == 'firstProject' %} g-1 t-center {% elif currentPage == 'lastProject' %} hidden {% else %} grids--zero g-2--zero{% endif %}
	">
	<a href="{{ linkNext }}" class="pagination-link pagination-link--next slicePad--v">
		<span class="project-nav__text">Suivant</span>
		<i class="fa fa-arrow-right project-nav__icon"></i>
	</a>
	</div>
</section>
{% endmacro %}
