.bigSlice--about{

	background-color: $bigSlice--about;
	position: relative;
	text-align: center;

	&:after{

		background-color: $bigSlice--skills;
	}
}

.h1--bigSlice--about{

	//text-shadow: 3px 3px 0px $bigSlice--about, 6px 6px 0px rgba($nav__link--1--bgc, .5);
	color:$nav__link--1--bgc;

	&:after{

		background-color: $nav__link--1--bgc;

	}
}

.maxWrapper--about{

	position: relative;

	&:before{

	content: "";
	background-color: $nav__link--1--bgc;
    width: 4px;
    height: 99%;
    position: absolute;
    left: 50%;
    top:4%;
    bottom:0%;
    margin-left: -2px;
	
	}
    @media screen and (min-width: 1200px){

		&:before{
	    	height: 90%;
	    	top: 15%;
	    }


	}
}

.about__icon--wrapper{

	position: relative;
	border-radius: 50%;
	background-color: $nav__link--1--bgc;
	z-index: 100;
	margin: auto;
	clear: both;
	text-align: center;

	@include rem2px(margin-top, 2.5);
	@include rem2px(margin-bottom, 2.5);

	@include rem2px(width, 10);
	@include rem2px(height, 10);

	@include snap(large){

		transition: all .35s ease-in-out;


		&:hover{

			transform: scale(1.3);
		}

	}

}

.about__icon--left{

	@media screen and (min-width: 1200px){


		position: absolute;
		right: -135px;
		top: 50%;
		margin-top: -50px;

	}
}

.about__icon--right{

	@media screen and (min-width: 1200px){


		position: absolute;
		left: -135px;
		top: 50%;
		margin-top: -50px;

	}
}

.fa.about__icon{

	position: relative;
	z-index: 60;
	color: $bigSlice--about;

	@include rem2px(font-size, 6);
	line-height:  1.6;

}

.about__wrapper{

	position: relative;
	max-width: 500px;
	margin: auto;


	@media screen and (min-width: 1200px){

		&:not(:first-child){

			margin: none;
			@include rem2px(margin-top, -3);

		}

		&--left{

			float: left;


			&:after{

				content:"";
				width: 40px;
				height: 4px;
				background-color: $nav__link--1--bgc;
				position: absolute;
				left: 99%;
				top: 50%;
				margin-top: -2px;

			}
		}

		&--right{

			float: right;

			&:after{

				content:"";
				width: 40px;
				height: 4px;
				background-color: $nav__link--1--bgc;
				position: absolute;
				right: 99%;
				top: 50%;
				margin-top: -2px;

			}
		}

			&:nth-of-type(odd) .about__text{

				border-right: 10px solid $nav__link--1--bgc;

			}

			&:nth-of-type(even) .about__text{

				border-left: 10px solid $nav__link--1--bgc;

			}

	}

}

.about__text{

	background-color: #BD3B36;
	color: $bigSlice--about;
	@include rem2px(padding, 1);
	text-align: center;

	@include snap(medium){

		@include rem2px(padding, 1.5);
		text-align: justify;
		box-shadow: 10px 10px rgba(#B62824, .5), -10px -10px rgba(#B62824, .2);

	}

	@include snap(large){

		@include rem2px(padding, .5, 3);

	}

}

.maxWrapper--cv{

	position: relative;
	z-index: 70;

	@include rem2px(padding-bottom, 2);
	@include rem2px(padding-top, 2);

	@include snap(medium){

		@include rem2px(padding-bottom, 3);
		@include rem2px(padding-top, 3);

	}

	@include snap(large){

		@include rem2px(padding-bottom, 4);
		@include rem2px(padding-top, 4);

	}
}

.btn--cv{

	color: $bigSlice--about;
	border-color: $nav__link--1--bgc;
	background-color: $nav__link--1--bgc;

	@include snap(small-medium){

		color: $nav__link--1--bgc;
		border-color: $nav__link--1--bgc;
		background-color: $bigSlice--about;

		&:after{

		background-color: $nav__link--1--bgc;
	}

	}

	&:before{

			content:"\f0f6";
			color: $bigSlice--about;

		}

	@include h-f-a{

		color: $bigSlice--about;
		border-color: $nav__link--1--bgc;

	}
}