<!-- Project main template -->
<div class="maxWrapper slicePad--h">
	{% for image in projet.imageMain %}
		<img src="img/{{projet.projectClass}}/{{image.originale}}" alt="{{projet.imageAlt}}" class="img--resp img--projet center {{image.optionalClass}}"
		srcset="{% for img in image.imagesSrcset -%}
					{% if loop.last -%}
						img/{{projet.projectClass}}/{{img.size}}
					{%- else %}
						img/{{projet.projectClass}}/{{img.size}},
					{%- endif %}
				{%- endfor %}"
		sizes="{{image.sizes}}" />
	{% endfor %}
</div>
<section class="bigSlice bigSlice--project-card slicePad--v--top">
	<div class="maxWrapper maxWrapper--single-project gridClear slicePad--v--top slicePad--h">
		<header class="card__title-wrapper" id="card__title-wrapper">
			<div class="card__title-info">
				<span class="card__year">
					{{projet.infos.date}}
				</span>
				<span class="card__duration">
					{{projet.infos.duree}}
				</span>
			</div>
			<h1 class="h1 card__title">{{projet.sousTitre}}</h1>
		</header>
		<article class="card__details">
			<div class="card__detail gridClear">
				<span class="detail__icon poste"></span>
				<p class="detail__title ">Poste</p>
				<p class="detail__text">{{projet.infos.poste}}</p>
			</div>
			<div class="card__detail gridClear">
				<span class="detail__icon langages"></span>
				<p class="detail__title ">Langages</p>
				<p class="detail__text">{{projet.infos.langages}}</p>
			</div>
			<div class="card__detail gridClear">
				<span class="detail__icon outils"></span>
				<p class="detail__title">Outils</p>
				<p class="detail__text">{{projet.infos.outils}}</p>
			</div>
		</article>
		<article class="card__description">
			<p>{{projet.texteIntro}}</p>
		</article>
	</div>
	<footer>
		<a href="{{projet.infos.lien}}" class="card__link">
			<span>
				{{projet.infos.lien__texte}}
			</span>
		</a>
	</footer>
</section>
<section class="bigSlice slicePad--v--bottom gridClear">
	<article class="center maxWrapper--project-description slicePad--v slicePad--h">
		<h2 class="h1 h1--bigSlice heading--description slicePad--v">Description</h2>
		<p class="center project-max-text slicePad--v--top first-letter">
			{{projet.descriptionProjetUn}}
		</p>
		<aside class="img--description img--description--left" data-alt="{{projet.imagesTexteUn.imageAlt}}">
			<img src="{{projet.imagesTexteUn.originale}}" alt="{{projet.imagesTexteUn.imageAlt}}" class="img--resp project-description-image">
		</aside>
		<p class="center project-max-text">
			{{projet.descriptionProjetDeux}}
		</p>
		<aside class="img--description img--description--right" data-alt="{{projet.imagesTexteDeux.imageAlt}}">
			<img src="{{projet.imagesTexteDeux.originale}}" alt="{{projet.imagesTexteDeux.imageAlt}}" class="img--resp project-description-image">
		</aside>
		<p class="center project-max-text">
			{{projet.descriptionProjetTrois}}
		</p>
		<aside class="img--description img--description--left" data-alt="{{projet.imagesTexteTrois.imageAlt}}">
			<img src="{{projet.imagesTexteTrois.originale}}" alt="{{projet.imagesTexteTrois.imageAlt}}" class="img--resp project-description-image">
		</aside>
		<p class="center project-max-text">
			{{projet.descriptionProjetQuatre}}
		</p>
	</article>
</section>