.project-codecats .bigSlice--project-info{

	background-color: $codecats-info-bg;
	border-color: $codecats-info-border;
}

.project-codecats{

	.backHome{

		.project-nav__icon{

			color: $codecats-info-rond-poste;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $codecats-info-rond-poste;

			}
		}

}

.backProjects{

	.project-nav__icon{

		color: $codecats-info-rond-outils;

	}
	@include snap(large){

		&:hover .project-nav__text{

			color: $codecats-info-rond-outils;
		}
	}

}

.previousWork{

	.project-nav__icon{

		color: $nav__link--2--bgc;
	}

	@include snap(large){

		&:hover .project-nav__text{

			color: $nav__link--2--bgc;
		}
	}

}

.nextWork{

	.project-nav__icon{

		color: $codecats-info-rond-langages;

	}

	@include snap(large){

		&:hover .project-nav__text{

			color: $codecats-info-rond-langages;
		}
	}

}



}

.project-codecats .intro-info-wrapper{

	&:after,
	&:before{

		background-color: $codecats-info-border;
	}
}

.project-codecats .intro-title-info,
.project-codecats .intro-lien-site{

	background-color: $codecats-info-border;
	color: $codecats-info-infos;
}

.project-codecats .intro-lien-site{

@include snap(large){
	@include h-f-a{

		background-color: $codecats-info-infos;
		color: $codecats-info-border;

		.lien__texte:after{

			background-color: $codecats-info-border;
		}
	}
}
}

.project-codecats .lien__texte{

	&:after{

		background-color: $codecats-info-infos;
	}
}

.project-codecats .rond{

	background-color: $codecats-info-infos;

	&:before{

			color: $codecats-info-border;

	}
}

.project-codecats .intro-info{

	.poste{

		background-color: $codecats-info-rond-poste;
	}

	.outils{

		background-color: $codecats-info-rond-outils;
	}


	&:before{

			color: $codecats-info-border;

	}
}

.project-codecats .h1.heading--description{

	color: $codecats-info-border;
}

.project-codecats .first-letter::first-letter{

	background-color: $codecats-info-border;
	color: $codecats-bg;
}

.project-codecats .pagination__link{

		background-color: $codecats-info-bg;

	&:before{

		background-color: $codecats-info-border;
	}
}
