.codecats .bigSlice--project-card{

	background-color: $codecats-info-bg;
	border-color: $codecats-info-border;
	color: #fff;
}

.codecats{

	.backHome{

		.project-nav__icon{

			color: $codecats-info-rond-poste;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $codecats-info-rond-poste;

			}
		}

	}

	.backProjects{

		.project-nav__icon{

			color: $codecats-info-rond-outils;

		}
		
		@include snap(large){

			&:hover .project-nav__text{

				color: $codecats-info-rond-outils;
			}
		}

	}

	.previousWork{

		.project-nav__icon{

			color: $nav__link--2--bgc;
		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $nav__link--2--bgc;
			}
		}

	}

	.nextWork{

		.project-nav__icon{

			color: $codecats-info-rond-langages;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $codecats-info-rond-langages;
			}
		}

	}

}

.codecats .card__details{

	&:after,
	&:before{

		background-color: $codecats-info-border;
	}
}

.codecats .card__title-info,
.codecats .card__link{

	background-color: $codecats-info-border;
	color: $codecats-info-infos;
}

.codecats .card__link{

	@include snap(large){
		@include h-f-a{

			background-color: $codecats-info-infos;
			color: $codecats-info-border;

			span:after{

				background-color: $codecats-info-border;
			}
		}
	}
}

.codecats .card__link span{

	&:after{

		background-color: $codecats-info-infos;
	}
}

.codecats .detail__icon{

	background-color: $codecats-info-infos;

	&:before{

			color: $codecats-info-border;

	}
}

.codecats .card__detail{

	.poste{

		background-color: $codecats-info-rond-poste;
	}

	.outils{

		background-color: $codecats-info-rond-outils;
	}


	&:before{

			background-color: $codecats-info-border;

	}
}

.codecats .h1.heading--description{

	color: $codecats-info-border;
}

.codecats .first-letter::first-letter{

	background-color: $codecats-info-border;
	color: $codecats-bg;
}

.codecats .pagination__link{

		background-color: $codecats-info-bg;

	&:before{

		background-color: $codecats-info-border;
	}
}
