$standard-bg: $bigSlice--about;
$standard-info-bg: #587CA0;
$standard-info-border: #3D566F;
$standard-info-infos: $nav__link--2--bgc;

$codecats-bg: #fff;
$codecats-info-bg: lighten(#222, 2%);
$codecats-info-border: darken(#222, 5%);
$codecats-info-infos: #35AEF2;
$codecats-info-rond-poste: #F27935;
$codecats-info-rond-langages: #3598DB;
$codecats-info-rond-outils: #00B16A;

$site-perso-bg: $bigSlice--about;
$site-perso-info-bg: #587CA0;
$site-perso-info-border: #34495E;

$vijump-bg: $codecats-bg;
$vijump-info-bg: lighten(#DF4A4A, 10%);
$vijump-info-border: lighten(#DF4A4A, 2%);
$vijump-info-infos: #DF4A4A;
$vijump-prev-work: #428BCA;

$phpim-info-bg : #202020;
$phpim-info-border : #30A9DA;
$phpim-info-infos: #F4B006;