.project-emmaus{

	background-color: $bigSlice--about;

}

.project-emmaus .bigSlice--project-info{

	background-color: $standard-info-bg;
	border-color: $standard-info-border;
}

.project-emmaus .intro-title-info
.project-emmaus .intro-lien-site .lien__texte{

	background-color: $standard-info-border;
}

.project-emmaus .pagination{

	background-color: $standard-info-border;
}



