.emmaus{

	background-color: $bigSlice--about;

}

.emmaus .bigSlice--project-card{

	background-color: $standard-info-bg;
	border-color: $standard-info-border;
	color: #fff;

}

.emmaus .card__title-info,
.emmaus .card__link{

	background-color: $standard-info-border;
	color: $nav__link--2--bgc;

}

.emmaus .card__link{

	@include snap(tweak-large){

			@include h-f-a{

			background-color:  $nav__link--2--bgc;
			color: darken($bigSlice--skills, 15%);

			span:after{

				background-color: darken($bigSlice--skills, 15%);
			}
		}
	}
}

.emmaus .card__details{

	&:before,
	&:after{

		background-color: darken($bigSlice--skills, 15%);

	}
}

.emmaus .detail__icon{

	background-color: $nav__link--2--bgc;

	&:before{

			color: darken($bigSlice--skills, 15%);
		}
}



.emmaus .pagination__link{

	background-color: $standard-info-border;
}



