.phpim{

	.backHome{

		.project-nav__icon{

			color: $phpim-info-bg;
		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $phpim-info-bg;
			}
		}
	}

	.backProjects{

		.project-nav__icon{

			color: $phpim-info-border;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $phpim-info-border;
			}
		}

	}

	.previousWork{

		.project-nav__icon{

			color: $phpim-info-infos;
		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $phpim-info-infos;
			}
		}

	}

	.nextWork{

		.project-nav__icon{

			color: $phpim-info-infos;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $phpim-info-infos;
			}
		}

	}

}

.phpim .bigSlice--project-card{

	background-color: $phpim-info-bg;
	border-color: $phpim-info-border;
	color: #fff;
}

.phpim .card__title-info{

	background-color: $phpim-info-infos;
}

.phpim .card__year,
.phpim .card__duration{
	color: $phpim-info-bg;
}

.phpim .card__details{

	&:before,
	&:after{

		background-color: $phpim-info-border;

	}
}

.phpim .card__detail{

	&:before{

		background-color: $phpim-info-border;
	}
}

.phpim .detail__icon{
	background-color: $phpim-info-infos;
}

.phpim .card__link{

	background-color: $phpim-info-border;
	color: #fff;

	@include snap(tweak-large){

			@include h-f-a{
			background-color:  $phpim-info-infos;
		}
	}
}

.phpim .h1.heading--description{

	color: $phpim-info-border;
}

.phpim .first-letter::first-letter{

	background-color: $phpim-info-border;
	color: #fff;
}

.phpim .pagination__link{

	background-color: $phpim-info-border;

	&:before{

		background-color: $phpim-info-infos;
	}
}
