/*uncss:ignore*/

.vijump .bigSlice--project-card{

	background-color: $vijump-info-bg;
	border-color: $vijump-info-border;
	color: #fff;
}

.vijump{

	.backHome{

		.project-nav__icon{

			color: $vijump-info-infos;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $vijump-info-infos;

			}
		}

	}

	.backProjects{

		.project-nav__icon{

			color: $codecats-info-rond-outils;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $codecats-info-rond-outils;
			}
		}

	}

	.previousWork{

		.project-nav__icon{

			color: $nav__link--2--bgc;
		}

		@include snap(large){

			&:hover .project-nav__text{

			color: $nav__link--2--bgc;
			}
		}

	}

	.nextWork{

		.project-nav__icon{

			color: $vijump-prev-work;

		}

		@include snap(large){

			&:hover .project-nav__text{

				color: $vijump-prev-work;
			}
		}

	}

}

.vijump .card__details{

	&:after,
	&:before{

		background-color: $vijump-info-border;
		color: $vijump-bg;
	}
}

.vijump .card__detail{

	&:before{

		background-color: $vijump-info-border;
	}
}

.vijump .detail__icon{

	background-color: $vijump-info-infos;

	&:before{

			color: $vijump-bg;

	}
}

.vijump .card__title-info,
.vijump .card__link{

	background-color: $vijump-info-border;
	color: $vijump-bg;
}

.vijump .card__link{

	color: $vijump-bg;

	@include snap(large){

		@include h-f-a{

			background-color: darken($vijump-info-infos, 5%);
			color: $vijump-bg;

			span:after{

				background-color: $vijump-bg;
			}
		}
	}

}

.vijump .card__link span{

	&:after{

		background-color: $vijump-bg;

	}
}


.vijump .h1.heading--description{

	color: $vijump-info-border;
}

.vijump .first-letter::first-letter{

	background-color: $vijump-info-border;
	color: $vijump-bg;
}

.vijump .pagination__link{

	background-color: $vijump-info-bg;

	&:before{

		background-color: $vijump-info-border;
	}
}