.bigSlice{

    display: block;
}

.maxWrapper{

    width: 100%;
    max-width: $maxWrapperWidth;
    margin: auto;

    .lt-ie9 &{

        @include rem2px(width, 40);
    }

}

.gridClear{

    &:after,
    &:before{

        content:"";
        display: block;
        clear: both;
    }

}

.push{

    position: relative;

    @include snap(small){
        @include push(2)
    }
    @include snap(medium){
        @include push(3);
    }
}

.pull{

    position: relative;

    @include snap(small){
        @include pull(2)
    }

    @include snap(medium){
        @include pull(3);
    }
}
