@mixin lay-out($colNumber){

    width: (($maxGridWidth - ($gridMargin * ($colNumber - 1))) / $colNumber);
}

@mixin ratio($colNumber){

    padding-bottom: (($maxGridWidth - ($gridMargin * ($colNumber - 1))) / $colNumber);
}

@mixin lonm($colNumber){

    width: (($maxGridWidth - ($gridMarginZero * ($colNumber - 1))) / $colNumber);
}

@mixin twoThirds{

    $colNumber:3;
    width: $maxGridWidth - (($maxGridWidth - ($gridMargin * ($colNumber - 1))) / $colNumber) - $gridMargin;
}

@mixin threeFourths{

    $colNumber:4;
    width: $maxGridWidth - (($maxGridWidth - ($gridMargin * ($colNumber - 1))) / $colNumber) - $gridMargin;
}

@mixin push($colNumber){

    left: (($maxGridWidth + ($gridMargin)) / $colNumber);

    }

@mixin pull($colNumber){

    left: - (($maxGridWidth + ($gridMargin)) / $colNumber);
}

