.bigSlice--about{

	background-color: $bigSlice--about;
	text-align: center;
	overflow: hidden;

	@include snap(large){
		@include rem2px(padding-top, 4rem);
	}


	&:after{

		background-color: $bigSlice--skills;
		border-top: 7px solid darken($bigSlice--skills, 10%);
	}
}

.h1--bigSlice--about{

	color:$nav__link--1--bgc;
}

.maxWrapper--about{

	position: relative;

	&:before{

	content: "";
	background-color: $nav__link--1--bgc;
    width: 4px;
    height: 99%;
    position: absolute;
    left: 50%;
    top:4%;
    bottom:0%;
    margin-left: -2px;

	}

    @media screen and (min-width: 1200px){

		&:before{
	    	height: 90%;
	    	top: 15%;
	    }

	}
}

.about__icon--wrapper{

	position: relative;
	border-radius: 50%;
	background-color: $nav__link--1--bgc;
	z-index: 100;
	margin: auto;
	clear: both;
	text-align: center;

	@include rem2px(margin-bottom, 4.5);

	width: 100px;
	height: 100px;

	@include snap(large){

		transition: all .35s ease-in-out;

		&:hover:before{

			animation: bounce 1s linear;
		}

	}

}

/*  SEE COMPONENTS/SHAPES */

@keyframes bounce{

		20%{

			transform: scale(0.9);

		}

		60%{

			transform: scale(1.1);

		}

		90%{

			transform: scale(1);
		}
}

.about__icon--wrapper{

		@media screen and (min-width: 1200px){

		&--left,&--right{

			position: absolute;
			top: 50%;
			margin-top: -50px;
		}

		&--left{

			left: 109%;
		}

		&--right{

			right: 109%;
		}

	}

}

	.about__wrapper + .about__wrapper .about__icon--wrapper{

		@include rem2px(margin-top, 4.5);

			@media screen and(min-width: 1200px){

				margin-top: -50px;

			}

	}


.fa.about__icon{

	position: relative;
	z-index: 1;
	z-index: 60;
	color: $bigSlice--about;

	@include rem2px(font-size, 6);
	line-height:  1.6;

}

.about__wrapper{

	position: relative;
	z-index: 1;
	max-width: 500px;
	margin: auto;

	@include snap(medium){

		&:nth-of-type(odd) .about__text{

			box-shadow: 10px 10px rgba(#B62824, .5), -10px -10px rgba(#B62824, .2);

		}

		&:nth-of-type(even) .about__text{

			box-shadow: 10px 10px rgba(#B62824, .2), -10px -10px rgba(#B62824, .5);

		}
	}

	@media screen and (min-width: 1200px){

		max-width: 42%;

		&--left,&--right{

			&:after{

				content:"";
				width: 4999px;
				height: 4px;
				background-color: $nav__link--1--bgc;
				position: absolute;
				top: 50%;
				z-index: -1;
				margin-top: -2px;
			}
		}

		&--left{

			float: left;

			&:after{

				right: -10%;

			}
		}

		&--right{

			float: right;

			&:after{

				left: -10%;

			}
		}

		&:nth-of-type(odd) .about__text{

			border-right: 10px solid darken($nav__link--1--bgc, 6%);

		}

		&:nth-of-type(even) .about__text{

			border-left: 10px solid darken($nav__link--1--bgc, 6%);

		}

	}

}

.about__text{

	background-color: #BD3B36;
	color: $bigSlice--about;
	@include rem2px(padding, 2, 1);
	margin: 0;
	text-align: center;

	hyphens: auto;

	@include snap(small-medium){

		@include rem2px(padding, 2, 3);
		text-align: left;
	}

	@include snap(large){

		@include rem2px(padding, 2.5, 3);

	}

}

.btn--cv{

	color: $bigSlice--about;
	border-color: $nav__link--1--bgc;
	background-color: $nav__link--1--bgc;

	@include snap(small-medium){

		color: $nav__link--1--bgc;
		border-color: $nav__link--1--bgc;
		background-color: $bigSlice--about;

		&:after{

		background-color: $nav__link--1--bgc;
	}

	}

	@include rem2px(margin-top, 4)

	&:before{

			content:"\f0f6";
			color: $bigSlice--about;

		}

	@include h-f-a{

		color: $bigSlice--about;
		border-color: $nav__link--1--bgc;

	}
}