.bigSlice--project--page{

	background-color: $bigSlice--projects;
}

.retour{

	float: left;
	text-align: center;
	@include rem2px(padding, 3rem);
			color: $nav__link--3--bgc;

}

.bigSlice--project--page .retour .project-nav__icon{

	color: $nav__link--3--bgc;

}

.retour__text{

	display: inline-block;
	margin-left: 10px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: Roboto Slab;
	vertical-align: middle;

	@include snap(medium){

		font-size: 105%;
		transition: color .35s linear;

	}
}

.count-projects{

	counter-reset: number;
}

.project.project--all{

	@include snap(large){

		@include lonm(3);

		&:nth-of-type(3n+1):last-of-type{

			float: none;
			margin: auto;

		}

	}

	&:before{

		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1000;
		width: 0px;
		height: 0px;

		@include snap(large){

			border-left: 70px solid $nav__link--3--bgc;
			border-bottom: 70px solid transparent;

		}

	}

	&:after{

		counter-increment: number 1;
		content: "# " counter(number);
		position: absolute;
		z-index: 1000;
		top: 10px;
		left:10px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-style: italic;
		font-weight: 900;
		color: $bigSlice--projects;

		@include snap(large){

			top:  0px;
			left: 0px;
		}

	}


}