
.bigSlice--contact{

	background-color: $bigSlice--contact;
	color: #fff;
	text-align: center;
	position: relative;
}

.h1--bigSlice--contact{

	&:after{

		background-color: #fff;
	}
}

.contact--input--group{

	position: relative;
}


.label--contact{

	display: block;
	text-align: left;
}


.input--contact{

	background-color: #2C3E50;
	border:none;
	border-bottom: 2px solid #fff;
	transition: background-color .35s ease-in-out;
	@include rem2px(padding, 1.6, 1);
	color: #fff;

	@include h-f-a{

		background-color: darken(#2C3E50, 15%);
		outline:none;
	}
}

.message--contact{

	max-width: 100%;
	min-width: 100%;
	@include rem2px(margin-top, 1);
	background-color: darken(#2C3E50, 15%);
	border: none;
	outline:none;
	@include rem2px(padding, 1);

}


.btn--contact{

	color: $bigSlice--contact;
	border-color: #fff;
	background-color: #fff;
	transition: all .35s ease-in-out;
	display: inline-block;

	@include rem2px(margin, 2, 0, 2, 0);

	@include snap(small-medium){

		width: auto;
		color: #fff;
		border-color: #fff;
		background-color: $bigSlice--contact;


			@include rem2px(margin, 3, 0, 3, 0);

		&:after{

			background-color: #fff;
		}

	}

	@include snap(large){

			@include rem2px(margin, 4, 0, 4, 0);

	}



	&:before{

			content:"\f0e0";
			color: $bigSlice--contact;

		}

	@include h-f-a{

		color: $bigSlice--contact;
		border-color: #fff;
		background-color: #fff;

		&:before{

			content:"\f0e0";
			color: $bigSlice--contact;

		}

	}
}