.bigSlice--me{

	height: 500px;
	position: relative;
	background-color:$bigSlice--skills;
	background-image: linear-gradient(135deg, rgb(52, 73, 94) 50%, rgb(34, 47, 61) 50%);
	background-image: url('../img/index/bg-img-compressor@768.jpg');
	background-position: 100% 80%;

	&:after,&:before{

		content:"";
		width: 51%;
		position: absolute;
		bottom: -50px;
		height: 95px;
		background-color: $bigSlice--about;
	}

	&:after{

		left: 0;
		transform: skewY(4.5deg);

	}

	&:before{

		right: 0;
		transform: skewY(-4.5deg);

	}

	@include snap(small-medium){

		background-image: url('../img/index/bg-img-compressor.jpg');
		background-position: 100% 40%;
		height: 600px;

	}

	@include snap(large){
	@include rem2px(padding-top, 10);

		background-position: 80% 40%;
		background-attachment: fixed;
		height: 100%;

	}

}

.maxWrapper--heading{

	position: relative;
	height: 100%;

}

.h1.h1--me{

	text-align: center;
	color:white;
	position: absolute;
	bottom: 50px;

	width: 100%;

	@media screen and (min-width: 450px){

		bottom: 42%;
		right: 50%;
		text-align: right;

		width: auto;
	}

	@include snap(small-medium){

		right: 41%;

	}

	@include snap(medium){
	
		@include rem2px(padding-right, 4);
		text-align: right;
	}

	@include snap(large){

		@include rem2px(font-size, 5.2);

			font-weight: 700;

		}
}	

	.h1--me .h1--me__part-two{

		display: block;
	}

.slideInTop{

	animation: slideInTop 1s ease-in;

}

@keyframes slideInTop{

	0%{

		opacity: 0;
		transform: translateY(-50%);
	}

	100%{

		opacity: 1;
		transform: translateY(0%);
	}
}
