.bigSlice--me{

	@include rem2px(padding-top, 10);
	@include rem2px(padding-bottom, 4);
	position: relative;
	background-color:$bigSlice--skills;
	background-image: linear-gradient(135deg, rgb(52, 73, 94) 50%, rgb(34, 47, 61) 50%);

	&:after,&:before{

		content:"";
		width: 51%;
		position: absolute;
		bottom: -50px;
		height: 95px;
		background-color: $bigSlice--about;
	}

	&:after{

		left: 0;
		transform: skewY(4.5deg);

	}


	&:before{

		right: 0;
		transform: skewY(-4.5deg);

	}

	@include snap(medium){

		background-image: url('../img/index/bg-img-compressor.jpg');
		background-position: 80% 40%;
		height: auto;

	}

	@include snap(large){

		background-position: 80% 40%;
		background-attachment: fixed;
		height: 100%;

	}

}

.img--container{

	overflow: hidden;
	@include rem2px(margin-bottom, 2);
	max-width: 200px;

	@include snap(small-medium){

		width: 250px;
	}

	@include snap(medium){

		display: none;
	}

}

.maxWrapper--heading{

	position: relative;

	@include snap(medium){

		height: 100%;
	}
}

.welcome--heading{

	text-align: center;
	color:white;

	@include rem2px(margin-bottom, 5);

	@include snap(medium){

		@include rem2px(padding-top, 10);
		@include rem2px(padding-bottom, 10);
		text-align: left;
	}

	@include snap(large){

		@include rem2px(padding-top, 0);
		@include rem2px(padding-bottom, 0);
		position: absolute;
		top:32%;
		left:0;

	}
}

.h1.h1--me{

	@include snap(medium){

		@include rem2px(padding-right, 4);
		text-align: right;

	}

	@include snap(large){

		@include rem2px(font-size, 4.2);

			font-weight: 700;

		}
}

.slideInTop{

	animation: slideInTop 1s ease-in;

}

@keyframes slideInTop{

	0%{

		opacity: 0;
		transform: translateY(-50%);
	}

	100%{

		opacity: 1;
		transform: translateY(0%);
	}
}
