.bigSlice--project{

	background-color: $bigSlice--projects;
	color: #fff;
	text-align: center;

	&:after{

		background-color: $bigSlice--contact;
		border-top: 7px solid darken($bigSlice--contact, 15%);
	}

}

.maxWrapper--project{

	width: 100%;
	@include rem2px(padding-top, 1)

}

.h1--bigSlice--project{

	color: $nav__link--3--bgc;
}

.bg-project{

	background-position: 50% 0%;
}

.project-emmaus{

	background-image: url('../img/index/emmaus-optim.jpg');

}

.project-codecats{

	background-image: url('../img/index/miniprojet-optim.jpg');
}

.project-vijump{

	background-image: url('../img/index/vijump@768.jpg');

}

.project-portfolio{

	background-image: url('../img/index/projet-site-perso-v1-compressor.jpg');
}

.project-phpim{

	background-image: url('../img/phpim/phpim-accueil@768.jpg');
}

.project{

	position: relative;
	overflow: hidden;
	text-align: center;
	text-decoration: none;

	@include snap(small-medium){

		float: left;
		@include lonm(2);

		&:hover .project__overlay{

			visibility: visible;
			opacity: 1;
			transform: scale(1);

		}
	}

	@include snap(tweak-large){

		@include lonm(4);
	}
}

.project__overlay{

	background-color: rgba($nav__link--3--bgc, .9);
	color:#fff;
	z-index:10;
	transition: all .30s ease-out;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;

	@include snap(large){

		background-color: $nav__link--3--bgc;
		visibility: hidden;
		opacity: 0;
		transform: scale(3);
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

	}

	&:before{

		content: '';
  		display: inline-block;
  		vertical-align: middle;
    	height: 100%;

    	.lt-ie9 &{

    		content:none;
    	}
	}

}

.project__infos{

	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
	transition: all .35s ease-in;
	margin-left: -0.25em;

}

.h3--overlay {

	@include rem2px(margin, 0, 0, 0.5, 0);
}

.h4--overlay{

	@include rem2px(margin, 0, 0, 1.5, 0);

}


.project__btn{

	display: inline-block;
	@include rem2px(padding, 1, 1.2);
	border: 2px solid #fff;
	position: relative;

	font-weight: 900;
	letter-spacing: 1px;

	background-color: #fff;
	color: $nav__link--3--bgc;

	@include snap(large){

		background-color: $nav__link--3--bgc;
		color: #fff;

		&:after{

				content:"";
				position: absolute;
				top: 0%;
				left: 0%;
				right: 0%;
				margin: auto;
				width: 0%;
				height: 100%;
				background-color: #fff;
				z-index: -1;

			}

			&:hover{

				color: $nav__link--3--bgc;
				border-color: transparent;
				transition: color .25s ease-in;

				&:after{

					width: 100%;
					transition: width .25s ease-in;

				}
			}


		.project:hover &{

			animation: slideInBottom .50s ease-in forwards;
		}


	}

}

.emmaus .project__btn + .project__btn{

	display: none;
}

@keyframes slideInBottom{

	0%{
		transform: translateX(-300%) skew(-25deg);
	}

	70%{

		transform: translateX(40%);
	}

	80%{

		transform: translateX(10%);
	}

	90%{

		transform: translateX(5%) skew(-25deg);

	}

	100%{
		transform:translateX(0%) skew(0deg);
	}
}

.btn--projects{

	color: #fff;
	border-color: $nav__link--3--bgc;
	background-color: $nav__link--3--bgc;

	@include snap(small-medium){

		color: $nav__link--3--bgc;
		border-color: $nav__link--3--bgc;
		background-color: $bigSlice--projects;

		&:after{

			background-color:  $nav__link--3--bgc;
		}

	}

		@include snap(medium){

		@include rem2px(margin-top, 2)
	}

	@include snap(large){

		@include rem2px(margin-top, 3)
	}

	&:before{

		content:"\f0c3";
		color: #fff;

	}

	@include h-f-a{

		color: #fff;
		border-color: $nav__link--3--bgc;

	}
}