.bigSlice--projects--page{

	background-color: $bigSlice--projects;
}

.retour{

	display: block;
	text-align: center;
}

.count-projects{

	counter-reset: number;
}

.tiles--projects{

	&:before{

		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1000;
		width: 0px;
		height: 0px;
		border-left: 70px solid $nav__link--3--bgc;
		border-bottom: 70px solid transparent;

	}

	&:after{

		counter-increment: number 1;
		content: "# " counter(number);
		position: absolute;
		z-index: 1000;
		top: 0px;
		left:0px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-style: italic;
		font-weight: 900;
		color: $bigSlice--projects;
	}
}

