.bigSlice--projects{

	background-color: $bigSlice--projects;
	text-align: center;

	&:after{

		background-color: $bigSlice--contact;
		border-top: 7px solid darken($bigSlice--contact, 15%);
	}

}

.maxWrapper--projects{

	width: 100%;
	@include rem2px(padding-top, 1)

}

.h1--bigSlice--project{

		color: $nav__link--3--bgc;

}

.bg-project{

	background-position: 50% 0%;

}

.emmaus{

	background-image: url('../img/index/emmaus-optim.jpg');

}

.mini-project{

	background-image: url('../img/index/miniprojet-optim.jpg');
}

.vijump{

	background-image: url('../img/index/vijump@768.jpg');

}

.portfolio{

	background-image: url('../img/index/projet-site-perso-v1-compressor.jpg');
}

.g-4--zero.tiles{

	@include snap(large){

		@include lonm(2);
	}

	@include snap(tweak-large){

		@include lonm(4);
	}

}

.tiles{

	position: relative;
	overflow: hidden;
	text-align: center;
	text-decoration: none;

	@include snap(large){

		&:hover .tiles__overlay{

			visibility: visible;
			opacity: 1;
			transform: scale(1);

		}
	}
}

.tiles__overlay{

	background-color: $nav__link--3--bgc;
	color:#fff;
	z-index:10;
	opacity: 0.9;
	transition: all .35s ease-in-out;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;

	@include snap(large){

		visibility: hidden;
		opacity: 0;
		transform: scale(3);
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

	}

	&:before{

		content: '';
  		display: inline-block;
  		vertical-align: middle;
    	height: 100%;

    	.lt-ie9 &{

    		content:none;
    	}
	}

}

.tiles__overlay--trigger{

		@include rem2px(width, 3);
		@include rem2px(height, 3);
		background-color: #000;
		position: absolute;
		bottom: 16px;
		right: 16px;
		z-index: 20;

	}

.tiles__overlay--trigger.active{

			background-color: #fff;
		}

.tiles__title{

	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
	transition: all .35s ease-in;
	margin-left: -0.25em;
}

.h3--overlay {

	@include rem2px(margin, 0, 0, 0.5, 0);
}

.h4--overlay{

	@include rem2px(margin, 0, 0, 1.5, 0);

}

.tiles__btn{

	display: inline-block;
	@include rem2px(padding, 1, 1.2);
	border: 2px solid;
	position: relative;

	font-weight: 900;
	letter-spacing: 1px;

	@include snap(large){

		&:after{

				content:"";
				position: absolute;
				top: 0%;
				left: 0%;
				right: 0%;
				margin: auto;
				width: 0%;
				height: 100%;
				background-color: #fff;
				z-index: -1;

			}

			&:hover{

				color: $nav__link--3--bgc;
				border-color: transparent;
				transition: color .25s ease-in;

				&:after{

					width: 100%;
					transition: width .25s ease-in;

				}
			}


		.tiles:hover &{

			animation: slideInBottom .55s ease-in forwards;
		}


	}

}

@keyframes slideInBottom{

	0%{
		transform: translateX(-300%) skew(-25deg);
	}

	70%{

		transform: translateX(40%);
	}

	80%{

		transform: translateX(10%);
	}

	90%{

		transform: translateX(5%) skew(-25deg);

	}

	100%{
		transform:translateX(0%) skew(0deg);
	}
}

.btn--projects{

	color: $bigSlice--projects;
	border-color: $nav__link--3--bgc;
	background-color: $nav__link--3--bgc;

	@include snap(small-medium){

		color: $nav__link--3--bgc;
		border-color: $nav__link--3--bgc;
		background-color: $bigSlice--projects;

		&:after{

			background-color:  $nav__link--3--bgc;
		}

	}

		@include snap(medium){

		@include rem2px(margin-top, 2)
	}


	@include snap(large){

		@include rem2px(margin-top, 3)
	}

	&:before{

		content:"\f0c3";
		color: $bigSlice--projects;

	}

	@include h-f-a{

		color: $bigSlice--projects;
		border-color: $nav__link--3--bgc;

	}
}