.bigSlice--projects{

	background-color: $bigSlice--projects;
	position: relative;
	text-align: center;

	&:before{

		background-color: $bigSlice--skills;
	}

	&:after{

		background-color: $bigSlice--contact;
	}

}

.maxWrapper--projects{

	width: 100%;
	@include rem2px(padding-top, 1)
	
}

.h1--bigSlice--project{

		color: $nav__link--3--bgc;

		&:after{

			background-color: $nav__link--3--bgc;
		}
}

.bg-project{

	background-position: 50% 0%;

}

.emmaus{

	background-image: url('../img/emmaus-optim.jpg');

}

.mini-project{

	background-image: url('../img/miniprojet-optim.jpg');
}

.vijump{

	background-image: url('../img/vijump-optim-compressor.jpg');

}

.wip{

	background-image: url('../img/wip.jpg');

}

.g-4--zero.tiles{

	@include snap(large){

		@include lonm(2);
	}

	@include snap(tweak-large){

		@include lonm(4);
	}

}

.tiles{

	position: relative;
	overflow: hidden;

	&:hover .tiles__overlay{

		visibility: visible;
		opacity: 1;
		transform: scale(1);
		
	}
}

.tiles__overlay{

	background-color: rgba(#000, .8);
	text-align: center;
	z-index:10;
	visibility: hidden;
	opacity: 0;
	transition: all .35s ease-in-out;
	
	text-decoration: none;
	color:#fff;
	transform: scale(3);

	
	&:before{

		content: '';
  		display: inline-block;
  		vertical-align: middle;
    	height: 100%;

    	.lt-ie9 &{

    		content:none;
    	}
	}

}

.tiles__overlay--trigger{

		@include rem2px(width, 3);
		@include rem2px(height, 3);
		background-color: #000;
		position: absolute;
		bottom: 16px;
		right: 16px;
		z-index: 20;

	}

.tiles__overlay--trigger.active{

			background-color: #fff;
		}

.tiles__title{

	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
	transition: all .35s ease-in;
	margin-left: -0.25em;
}

.h3--overlay {

	@include rem2px(margin, 0, 0, .5, 0);
}

.h4--overlay{
	
	@include rem2px(margin, 0, 0, 1, 0);

}


.tile__btn{

	display: inline-block;
	@include rem2px(padding, 1, 1.2);
	border: 2px solid;
}

.btn--projects{

	color: $bigSlice--projects;
	border-color: $nav__link--3--bgc;
	background-color: $nav__link--3--bgc;
	
	@include snap(small-medium){

		color: $nav__link--3--bgc;
		border-color: $nav__link--3--bgc;
		background-color: $bigSlice--projects;

		&:after{
		
			background-color:  $nav__link--3--bgc;
		}

	}

	&:before{

		content:"\f0c3";
		color: $bigSlice--projects;

	}

	@include h-f-a{

		color: $bigSlice--projects;
		border-color: $nav__link--3--bgc;

	}
}