.bigSlice--skill{

	background-color: $bigSlice--skills;

	&:after{

		background-color: $bigSlice--about;
		border-top: 7px solid darken($bigSlice--skills, 10%);

	}
}

/* uncss:ignore */

.classlist .waypoint-bounce{

	animation : skillIconBounce .45s linear forwards;
}

@keyframes skillIconBounce{

	0%{

		opacity: 0;
		visibility: hidden;
		transform: scale(.5);
	}

	50%{

		transform: scale(1.2);
	}

	100%{

		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}

/* uncss:ignore */

.h1--bigSlice--skill{

	color: $nav__link--2--bgc;

}

.skill:hover .skill__icon--container:after{

		animation: bounce 1s linear forwards;

}

.maxWrapper--skill{

		@include rem2px(padding-bottom, 3);

	@include snap(medium){

		@include rem2px(padding-bottom, 4);

	}

	@include snap(large){

		@include rem2px(padding-bottom, 5);

	}
}

.skill{

	&.first{

		margin-left: 0;
	}

    @include snap(small-medium){

		float: left;
		margin-left: $gridMargin;
        @include lay-out(2);

        &:nth-of-type(2n + 1){

	        margin-left: 0;
	        clear: left;

	    }
    }

    @include snap(tweak-large){

        @include lay-out(3);

        &:nth-of-type(2n + 1){

            margin-left: $gridMargin;
            clear: none;
        }

        &:nth-of-type(3n + 1){

            margin-left: 0;
            clear:left;
        }
    }
}

.skill__heading{

	text-align: center;
	font-weight: 200;
	color: $nav__link--2--bgc;

	@include snap(medium){

		text-align: left;
		margin-bottom: 0;
	}

}

.skill__icon--container{

	width: 80px;
	height: 80px;
	background-color: $nav__link--2--bgc;
	display: block;
	margin: auto;
	text-align: center;
	@include rem2px(margin-bottom, 2);

	position: relative;

	@include snap(medium){

		transition: transform .35s ease-in-out;
		float: left;
		@include rem2px(margin-right, 2);
		@include rem2px(margin-bottom, 1);

	}

}

.skill__icon.fa{

	position: relative;
	z-index: 1;
	color:#46637F;
	display: inline-block;
	vertical-align: middle;
	line-height: 80px;

	@include rem2px(font-size, 5);

}

.skill__text{

	color: #fff;
	max-width: 500px;
	margin: 0 auto;

	hyphens:auto;

	@include snap(medium){

		max-width: none;
		margin: 0;
		text-align: left;
	}
}