.bigSlice--skills{

	background-color: $bigSlice--skills;

	&:after{

		background-color: $bigSlice--about;
		border-top: 7px solid darken($bigSlice--skills, 10%);

	}
}

.h1--bigSlice--skills{

	color: $nav__link--2--bgc;

	&:after{

		background-color: $nav__link--2--bgc;

	}
}

.grids--clear.g-3:hover .skills__icon--container{

	@include snap(large){

		transform: translateY(5px) translateX(5px);

		&:after{

			transform: translateY(-3px) translateX(-3px);

		}
	}

}

.skills__icon--container{

	width: 80px;
	height: 80px;
	background-color: $nav__link--2--bgc;
	display: block;
	margin: auto;
	text-align: center;
	@include rem2px(margin-bottom, 2);

	@include snap(medium){

		position: relative;
		transition: transform .35s ease-in-out;
		float: left;
		@include rem2px(margin-right, 2);
		@include rem2px(margin-bottom, 0);

		&:after{

			content:"";
			position: absolute;
			top:12%;
			left: 6%;
			z-index: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: rgba($nav__link--2--bgc, .4);
			transition: transform .35s ease-in-out;

		}


	}
}

.skills__icon.fa{

	position: relative;
	z-index: 1;
	color:darken($bigSlice--skills, 15%);
	display: inline-block;
	vertical-align: middle;
	line-height: 80px;

	@include rem2px(font-size, 5);

}

.maxWrapper--skills{

		@include rem2px(padding-bottom, 3);

	@include snap(medium){

		@include rem2px(padding-bottom, 4);

	}

	@include snap(large){

		@include rem2px(padding-bottom, 5);

	}
}

.h3--skills{

	text-align: center;
	font-weight: 200;
	color: $nav__link--2--bgc;

	@include snap(medium){

		text-align: left;
		margin-bottom: 0;
	}

}

.skills__text{

	color: #fff;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;

	@include snap(medium){
		
		margin: 0;
		text-align: left;
	}
}