
%triangle{

		content:"";
		position: absolute;
		top: 50%;
		margin-top: -3px;
		@include rem2px(right, 1.6);
		width: 0px;
		height: 0px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;

		@include snap(large){

			display: none;
		}
	}

	.triangle--up{

			@extend %triangle;
			border-bottom: 8px solid white;
			border-top: 0px solid transparent;
			
	}

	.triangle--down{

			@extend %triangle;
			border-top: 8px solid white;
			border-bottom: 0px solid transparent;

	}

.slope-top{

	padding-top: 200px;
	position: relative;


	&:before{

		content: "";
		height: 230px;
		left: 0px;
		right: 0px;
		top: -100px;
		position: absolute;
		width: 100%;
		background-color: #587CA0;
		transform: skewY(-3deg);

	}

}

.slope-bottom{

	padding-bottom: 200px;
	position: relative;

&:after{

		content: "";
		height: 230px;
		left: 0px;
		right: 0px;
		bottom: -150px;
		position: absolute;
		width: 100%;
		transform: skewY(-3deg);

	}

}

.slope-both{

	padding-top: 200px;
	padding-bottom: 200px;
	position: relative;


	&:before{

		content: "";
		height: 230px;
		left: 0px;
		right: 0px;
		top: -100px;
		position: absolute;
		width: 100%;
		transform: skewY(-3deg);

	}

	&:after{

		content: "";
		height: 230px;
		left: 0px;
		right: 0px;
		bottom: -150px;
		position: absolute;
		width: 100%;
		transform: skewY(-3deg);

	}

}